<main>
  <div class="loginFirstTela">
    <img src="../assets/whiteLogo.png" style="width: 12.6rem">
    <div>
      <h1>All your favorite games in one place</h1>
      <p><span style="color: #F231A5; font-weight: 600;">WON</span> is the best and most complete gaming platform.</p>
    </div>
    <p>Won Games 2020 © Todos os Direitos Reservados</p>
  </div>
  <div class="loginSecondTela">
    <img src="../assets/blackLogo.png">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>